.planner-column {
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
    padding: 10px;
  }
  
  .planner-column:last-of-type {
    border-right: none;
  }